.container {
  display: flex;
}
.left-container {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
}
.right-container {
  flex: 4;
  width: 80%;
  height: 450px;
  border: 2px solid;
  margin: 20px;
}

.btn,
.text,
.dropdown {
  display: flex;
  color: white;
  margin: 20px 10px 20px 20px;
  justify-content: space-between;
}

.btn-label,
.text-label,
.dropdown-label {
  font-size: larger;
  font-family: sans-serif;
  font-weight: 600;
}

.btn-drag,
.text-drag,
.dropdown-drag {
  border-radius: 5px;
  background-color: lightblue;
  width: 80px;
  height: 30px;
  color: white;
  font-family: cursive;
}

.drop-btn {
  color: white;
  background-color: green;
  width: 90px;
  height: 40px;
  border-color: green;
  font-family: sans-serif;
  font-weight: 700;
}

.drop-btn-container {
  position: relative;
  width: 200px;
  height: 40px;
  padding: 20px;
  border: 1px solid;
  position: relative;
}
.drop-btn-remove,
.drop-text-remove,
.drop-dropdown-remove {
  position: absolute;
  position: absolute;
  top: 0;
  right: 10px;
}
.drop-text-container {
  position: relative;
  width: 300px;
  height: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid;
  position: relative;
}

.drop-text-header,
.drop-text-paragraph {
  outline: 0;
}

.drop-dropDown-container {
  padding-right: 20px;
  border: 1px solid;
  width: 250px;
  height: 100px;
}

.drop-dropdown-select {
  width: fit-content;
  height: 35px;
  border-radius: 5px;
  background-color: deepskyblue;
  border-color: darkblue;
  border-width: medium;
}

.dropdown-input {
  position: absolute;
  left: 0px;
  width: 145px;
  height: 28px;
  border-radius: 5px;
  border-radius: 5px;
  background-color: deepskyblue;
  border-color: darkblue;
  border-width: medium;
}
